body{
  background-color: aquamarine;
}
h1{
color: blueviolet;
}
p{
font-size: larger;
  color: blueviolet;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(153, 78, 122);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(93, 98, 173);
}


